.header {
  width: 100vw;
  // box-shadow: 0px -12px 43px 3px rgba($color: #000000, $alpha: 0.3);
  height: 60px;
  &__container {
    padding: 16px;
  }
  &__branding {
    &-text {
      padding: 0;
      margin: 0;
      color: var(--text-primary);
    }
  }
}
