<header class="header">
  <div class="header__container" fxLayoutAlign="space-between center">
    <div class="header__branding" fxLayout="row nowrap" fxLayoutGap="8px" fxLayoutAlign="start center">
      <img class="header__branding-logo" src="../../../../assets/images/virus.svg" alt="Covid tracker" height="30px">
      <p class="header__branding-text">Covid-19 Tracker</p>
    </div>
    <div class="theme-switcher">
      <div (click)="toggleTheme()" fxLayout="row nowrap" fxLayoutGap="8px" fxLayoutAlign="start center">
        <span [ngStyle]="{'color': isDarkMode ? '#fff' : '#000'}">Change Theme</span>
        <mat-icon svgIcon="moon" *ngIf="!isDarkMode"></mat-icon>
        <mat-icon svgIcon="sun" *ngIf="isDarkMode" style="color: #fff;"></mat-icon>
      </div>
    </div>
  </div>
</header>