/*
 * File: _colors.scss
 * Project: covid-tracker
 * Description:  
 * File Created: Thursday, 2nd April 2020 12:24:56 am
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Thursday, 2nd April 2020 12:24:56 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

:root {
  --primary: #424242;
  --accent: #0c7a93;
  --background: #fff;
  --background-light: rgb(255, 255, 255);
  --text-primary: #000;
  --text-light: #444;
  --text-dark: rgb(26, 26, 26);
  --success: #28a745;
  --error: #ff073a99;
}
