<nav class="bottom-nav">
  <ul class="bottom-nav__list">
    <li class="bottom-nav__list-item menu-item" [routerLink]="[ '/' ]" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
      <mat-icon class="menu-item__icon" svgIcon="home" role="menuitem" aria-label="Home"></mat-icon>
    </li>
    <!-- <li class="bottom-nav__list-item menu-item" [routerLink]="[ '/world' ]" routerLinkActive="active">
      <mat-icon class="menu-item__icon" svgIcon="world" role="menuitem" aria-label="World"></mat-icon>
    </li> -->
    <li class="bottom-nav__list-item menu-item" [routerLink]="[ '/news' ]" routerLinkActive="active">
      <mat-icon class="menu-item__icon" svgIcon="news" role="menuitem" aria-label="News"></mat-icon>
    </li>
    <li class="bottom-nav__list-item menu-item" [routerLink]="[ '/settings' ]" routerLinkActive="active">
      <mat-icon class="menu-item__icon" svgIcon="info" role="menuitem" aria-label="Info"></mat-icon>
    </li>
  </ul>
</nav>