.section__heading {
  h3 {
    padding: 0 8px;
    margin: 0;
    color: var(--text-primary);
    margin-bottom: 8px;
    position: relative;
    flex: 0 0 25%;
  }
  span {
    height: 1px;
    width: 90%;
    margin-right: 8px;
    background-color: var(--text-light);
  }
}
.news {
  padding: 16px 16px 100px;
}

.news-loading {
  position: relative;
  border: 1px solid var(--text-light);
  padding: 16px;
  height: 250px;
  margin: 8px 0;
  &__header,
  &__body,
  &__footer {
    position: relative;
    width: 100%;
    height: 15px;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: inline-block;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }

  &__body {
    animation-delay: 0.3s;
    height: 150px !important;
  }
  &__footer {
    animation-delay: 0.5s;
    height: 50px !important;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
