<div class="settings" fxLayout="column">
  <div class="settings__item" fxLayout="column" fxLayoutAlign="start center">
    <img src="../../../../assets/images/virus.svg" alt="Covid Tracker" height="100px">
    <h4>Covid Tracker - #Stay Home and #Stay Safe</h4>
    <p>Covid 19 Tracker keeps you updated with the latest numbers of Covid reports from around the world. Keep watch on
      the
      numbers and Stay Home Stay Safe.</p>
    <!-- <button mat-raised-button color="primary">Share Application</button> -->
  </div>

  <div class="settings__item">
    <div class="settings__item-socials" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
      <a href="https://sreyaj.com/" target="_blank" rel="noopener noreferrer">
        Web
      </a>
      <a href="https://github.com/adisreyaj" target="_blank" rel="noopener noreferrer">
        Github
      </a>
      <a href="https://twitter.com/AdiSreyaj" target="_blank" rel="noopener noreferrer">
        Twitter
      </a>
      <a href="https://www.linkedin.com/in/adithyasreyaj/" target="_blank" rel="noopener noreferrer">
        LinkedIn
      </a>
    </div>
  </div>
</div>
<p class="credits">Developed By: <span>Adithya Sreyaj</span></p>