@import './assets/styles/partials/theme';
@import './assets/styles/partials/colors';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: var(--background);
}

.color {
  &--success {
    color: var(--success) !important;
  }
  &--error {
    color: var(--error) !important;
  }
}
button {
  border-radius: 0 !important;
}

.container {
  padding-bottom: 100px;
}
