.section__heading {
  h3 {
    padding: 0 8px;
    margin: 0;
    color: var(--text-primary);
    margin-bottom: 8px;
    position: relative;
    flex: 0 0 25%;
  }
  span {
    height: 1px;
    width: 90%;
    margin-right: 8px;
    background-color: var(--text-light);
  }
}
.quick-stats {
  padding: 0 16px;
  margin: 16px 0;
  &__item {
    flex: 50%;
  }
}
.contact-section {
  margin: 24px;
  .contact-info {
    margin-top: 24px;
  }
}

.state-info {
  margin-top: 40px;
  padding: 0 16px;
  &__items {
    margin-top: 24px;
  }

  &__search {
    padding: 12px 0 0;
    .search {
      &__input {
        position: relative;
        input {
          background-color: var(--background-light);
          width: 100%;
          border: 2px solid var(--accent);
          box-sizing: border-box;
          height: 50px;
          color: var(--text-primary);
          padding: 0 16px 0 40px;
          line-height: 50px;
          &:focus {
            outline: none;
            border: 2px solid var(--accent);
          }
        }

        .search__icon {
          position: absolute;
          left: 8px;
          height: 50px;
          color: var(--accent);
        }
        button {
          height: 50px;
          position: absolute;
          right: 0px;
          bottom: 0;
        }
      }
      &__button {
        border-radius: 0 !important;
      }
    }
  }
}
